<div class="container">
    <div class="firstHeader">
        <div class="headerTitle">All Courses <span>(200 courses)</span></div>
        <div class="headerSort">Newer <span class="pi pi-sort-alpha-down"></span></div>
    </div>
    <hr>
    <div class="p-grid">
        <div (click)="showCourse()" class="p-col-6 p-lg-4 zoom" style="cursor: pointer;">
            <app-course-card></app-course-card>
        </div>
        <div (click)="showCourse()" class="p-col-6 p-lg-4 zoom" style="cursor: pointer;">
            <app-course-card></app-course-card>
        </div>
        <div (click)="showCourse()" class="p-col-6 p-lg-4 zoom" style="cursor: pointer;">
            <app-course-card></app-course-card>
        </div>
        <div (click)="showCourse()" class="p-col-6 p-lg-4 zoom" style="cursor: pointer;">
            <app-course-card></app-course-card>
        </div>
    </div>
</div>
