<div class="container">
    <div class="p-grid">
        <div class="p-col-12 p-lg-4">
            <div class="logoAndTitle">
                <div class="logo">
                    <img src="assets/Images/logo.png">
                </div>

                <div class="title">
                    التسويق و الاعلان علي اليوتيوب
                </div>
            </div>
        </div>

        <div class="p-col-12 p-lg-4">
            <div class="actions">
                <div class="rate">
                    <span class="title">تقييم</span>
                    <span class="icon"><img src="assets/Images/i2.svg"></span>
                </div>

                <div class="share">
                    <span class="title">مشاركة</span>
                    <span class="pi pi-share-alt icon"></span>
                </div>

                <div class="save">
                    <span class="title">حفظ</span>
                    <span class="icon"><img src="assets/Images/save.png"></span>
                </div>

                <div class="progress">
                    <span class="icon"><img src="assets/Images/progress.png"></span>
                    <span class="title">اتمام الكورس</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-lg-4">
            <div (click)="goToCourses()" class="goToDiploma">
                <span class="title">صفحة الدبلومة</span>
                <span class="icon pi pi-arrow-left"></span>
            </div>
        </div>
    </div>
</div>
