<div class="container">
    <div class="card">
        <div class="courseImage">
            <img src="assets/Images/courseImage.png">
        </div>

        <div class="details">
            <div class="title">
                Marketing And Advertising On Youtube
            </div>

            <div class="instructor p-mt-2">
                <span class="pi pi-user"></span>
                <span class="instructorName">Ahmed Za'tar</span>
            </div>

            <div class="description p-mt-2">
                The course covers how to deal with youtube, and how you can make money from it. from the very first creation of your
            </div>

            <div class="rate p-mt-1">
                <span class="rateStar"><img src="assets/Images/i2.svg"></span>
                <span class="rateStar"><img src="assets/Images/i2.svg"></span>
                <span class="rateStar"><img src="assets/Images/i2.svg"></span>
                <span class="rateStar"><img src="assets/Images/i2.svg"></span>
                <span class="rateStar"><img src="assets/Images/i2.svg"></span>
                <span class="rateNumber">(1200)</span>
            </div>
        </div>
    </div>
</div>
