<div class="containerFooter">
    <div class="p-grid">
        <div class="p-col-12 p-lg-4">
            <div class="about">
                <div class="title">
                    {{'ABOUT-ACADEMY' | translate}}
                </div>
                <div class="para">
                    {{'LOREM' | translate}}
                </div>
            </div>

            <div class="social p-mt-5">
                <div class="title">
                    {{'JOIN-US' | translate}}
                </div>

                <div class="socialIcon">
                    <span><a routerLink="#"><span class="pi pi-twitter"></span></a></span>
                    <span><a routerLink="#"><span class="pi pi-youtube"></span></a></span>
                    <span><a routerLink="#"><span class="pi pi-facebook"></span></a></span>
                </div>
            </div>
        </div>

        <div class="p-col-6 p-lg-4">
            <div class="links">
                <div class="link">{{'TERMS' | translate}}</div>
                <div class="link">{{'INSTRUCTOR' | translate}}</div>
                <div class="link">{{'CLIENTS' | translate}}</div>
                <div class="link">{{'CALL' | translate}}</div>
                <div class="link">
                    <span>{{'LANG'}}: </span>
                    <span><select (change)="changeLang($event)" [(ngModel)]="languague">
                        <option value="en" selected>EN</option>
                        <option value="ar">Ar</option>
                    </select></span>
                </div>
                <!-- <div class="link">Terms & Condition</div> -->
            </div>
        </div>

        <div class="p-col-6 p-lg-4">
            <div class="payment">
                <div class="title">
                    {{'PAY' | translate}}
                </div>

                <div class="visaAndMaster p-mb-5">
                    <span><img src="assets/Images/visa.png" style="width:30%"></span>
                    <span><img src="assets/Images/masterCard.png" style="width:20%"></span>
                </div>

                <div class="restOfPayments">
                    <span><img src="assets/Images/mada.png" style="width: 30%;"></span>
                    <span><img src="assets/Images/fawry.png" style="width: 10%;"></span>
                    <span><img src="assets/Images/cash.png" style="width: 15%;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
