<div class="container">
    <div class="p-grid">
        <div class="p-col-12 p-lg-8">
            <div class="logoAndSearch">
                <div class="theLogo">
                    <img src="assets/Images/logo.png">
                </div>

                <div class="dropDown">
                    <select>
                        <option selected>Explore</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="searchBar">
                    <span class="pi pi-search"></span>
                    <input type="text" placeholder="Search by Names/Category">
                </div>
            </div>
        </div>

        <div class="p-col-12 p-lg-4">
            <div class="buttons">
                <button pButton  type="button" label="Join As Instructor" class="p-button-raised theBtn theBtnHover"></button>
                <button pButton  type="button" label="Login" class="p-button-raised theBtn theBtnHover"></button>
                <button pButton  type="button" label="Sign up" class="p-button-raised theBtn active"></button>
            </div>
        </div>
    </div>
</div>

