.container{
    width: 100%;
    display: inline-block;
    padding: 2% 0%;
    direction: rtl !important;
    padding-right: 2%;
    .video{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .active{
        background-color: lightgreen !important;
        padding: 3% !important;
        color: white !important;
    }

    .lec{
        width: 100%;
        margin-bottom: 2%;
        padding: 1% 3%;
        cursor: pointer;

        .lecDetails{
            text-align: right;
            font-size: 14px;
            span{
                margin-right: 2%;
            }
        }

        .time{
            text-align: left;
            font-size: 12px;
            margin-top: -3%;
        }
    }
    
    .courseContent{
        .title{
            font-weight: bolder;
            font-size: 18px;
        }

        .row{
            width: 100%;
            .title2{
                display: inline-block;
                text-align: right;
                width: 90%;
                .icon{
                    margin-left: 2%;
                }
                .tt{
                    font-size: 14px;
                    opacity: 0.9;
                    font-weight: 600;
                }
            }
            .allLec{
                display: inline-block;
                text-align: left;
                select{
                    background-color: transparent;
                    border: none;
                    color: black;
                    font-weight: 600;
                } 
            }

            
        }

        .file{
            margin-bottom: 1%;
            .title{
                font-size: 14px;
                font-weight: 600;
                margin-right: 2%;
            }
            .download{
                margin-right: 1%;
                color: lightgreen;
                text-decoration: underline;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        
        .date{
            .dateValue{
                display: inline-block;
                margin-left: 4%;
                width: 10%;
                .dateKey{
                    font-size: 14px;
                    opacity: 0.5;
                }
                .dateValue{
                    font-size: 14px;
                    margin-right:8%
                }
            }
        }
        .textFont{
            font-size: 15px;
            /* opacity: 1.8; */
            font-weight: 600;
            width: 35%;
        }
    }
}

@media (max-width:769px) {
    .container .courseContent .textFont {
        width: 100% !important;
    }
    .container .courseContent .date .dateValue {
        width: 40% !important;
    }
}