<app-course-header></app-course-header>
<div class="container">
    <div class="p-grid">
        <div class="p-col-12 p-lg-8">
            <div class="video">
                <!--here will be the video player instead-->
                <img src="assets/Images/coursePLayer.png">
            </div>
        </div>

        <div class="p-col-12 p-lg-4">
            <p-panel header="المحاضرة الاولي" icon="'pi pi-arrow-down'" [collapsed]="false" [toggleable]="true" styleClass="categoryFilterPanal2"
            [collapseIcon]="'pi pi-chevron-down'" [expandIcon]="'pi pi-chevron-right'">
            <!-- <hr class="theLine"> -->
            <div class="lec active">
                <div class="lecDetails">
                    <span class="pi pi-pause"></span>
                    <span class="number">1</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>

            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-play"></span>
                    <span class="number">2</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>

            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-play"></span>
                    <span class="number">3</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>

            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-play"></span>
                    <span class="number">4</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>

            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-play"></span>
                    <span class="number">5</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>
            
    </p-panel>

    <p-panel header="المحاضرة الثانية" icon="'pi pi-arrow-down'" [collapsed]="true" [toggleable]="true" styleClass="categoryFilterPanal2"
            [collapseIcon]="'pi pi-chevron-down'" [expandIcon]="'pi pi-chevron-right'">
            <!-- <hr class="theLine"> -->
            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-pause"></span>
                    <span class="number">1</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>
            
    </p-panel>

    <p-panel header="المحاضرة الثالثة" icon="'pi pi-arrow-down'" [collapsed]="true" [toggleable]="true" styleClass="categoryFilterPanal2"
            [collapseIcon]="'pi pi-chevron-down'" [expandIcon]="'pi pi-chevron-right'">
            <!-- <hr class="theLine"> -->
            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-pause"></span>
                    <span class="number">1</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>
            
    </p-panel>

    <p-panel header="المحاضرة الرابعة" icon="'pi pi-arrow-down'" [collapsed]="true" [toggleable]="true" styleClass="categoryFilterPanal2"
            [collapseIcon]="'pi pi-chevron-down'" [expandIcon]="'pi pi-chevron-right'">
            <!-- <hr class="theLine"> -->
            <div class="lec">
                <div class="lecDetails">
                    <span class="pi pi-pause"></span>
                    <span class="number">1</span>
                    <span class="title">التسويق و الاعلان علي اليوتيوب</span>
                </div>

                <div class="time">
                    3:20 د
                </div>
            </div>
            
    </p-panel>
        </div>
    </div>

    <div class="courseContent">
        <p-tabView styleClass="productsTabs2">
            <p-tabPanel header="عن الكورس">
               <div class="title p-mt-2">
                   وصف الكورس
               </div>

               <div class="date p-mt-2">
                   <div class="dateValue">
                       <span class="dateKey">تاريخ النشر</span>
                       <span class="dateValue">10/6/2020</span>
                   </div>

                   <div class="dateValue">
                    <span class="dateKey">اخر تحديث</span>
                    <span class="dateValue">10/6/2020</span>
                </div>
               </div>

               <div class="textFont p-mt-2">
                   يركز الكورس علي التخطيط التشغيلي عن طريق تحول نتائج التخطيط لمجموعة خطوات توضح كيفية تطبيق عملية التطبيق الفعلي لكل مبادرة تنفيذية
               </div>

               <div class="title p-mt-2 p-mb-2">
                    محاور الكورس
               </div>

               <div class="courseList">
                   <div class="textFont">تهيئة صفحات الموقع لمحركات البحث</div>
                   <div class="textFont">التسويق من خلال شبكات التواصل الاجتماعي</div>
                   <div class="textFont">الاعلانات عبر الانترنيت</div>
                   <div class="textFont">التسويق عبر البريد الاكتروني</div>
                   <div class="textFont">متابعة وتحليل الحملات الاعلانية و كيفية تحسينها</div>
                   <div class="textFont">الحملات التسويقية</div>
               </div>
            </p-tabPanel>

            <p-tabPanel header="الاسئلة">
                <div class="title p-mt-2">
                    لا يوجد اسئلة حول هذا الكورس 
                </div>
             </p-tabPanel>

             <p-tabPanel header="ملفات مرفقة">     
                      <div class="row p-mt-2">
                          <div class="title2">
                              <span class="icon pi pi-sort"></span>
                              <span class="tt">جميع الملفات</span>
                          </div>

                          <div class="allLec">
                              <select>
                                  <option selected>كل المحاضرات</option>
                              </select>
                          </div>
                      </div>
                      <hr>
                      
                      <div class="file">
                          <span class="pi pi-file"></span>
                          <span class="title">Lorem ipusm</span>
                          <span class="download">تحميل</span>
                      </div>

                      <div class="file">
                        <span class="pi pi-image"></span>
                        <span class="title">Lorem ipusm dolor sit amet Lorem</span>
                        <span class="download">تحميل</span>
                    </div>

                    <div class="file">
                        <span class="pi pi-file"></span>
                        <span class="title">Lorem ipusm</span>
                        <span class="download">تحميل</span>
                    </div>

                    <div class="file">
                        <span class="pi pi-image"></span>
                        <span class="title">Lorem ipusm dolor sit amet Lorem</span>
                        <span class="download">تحميل</span>
                    </div>
             </p-tabPanel>
            
        </p-tabView>
    </div>
</div>
<app-home-footer></app-home-footer>

